.btn {
  width: fit-content;
  min-width: 100px;
  height: fit-content;
  min-height: 35px;
  background-color: rgb(187, 255, 85);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px rgba(102, 170, 0, 0.7);
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(163, 239, 48);
  box-shadow: 2px 2px 4px 2px rgba(73, 121, 0, 0.8);
}

.btn:active {
  transition: 0.04s;
  background-color: rgb(130, 206, 18);
  box-shadow: 2px 2px 4px 2px rgba(73, 121, 0, 0.8);
}
