.categoriesBlock {
  margin-top: 10px;
  padding: 5px;
  border: 3px solid rgb(171, 171, 171);
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-content: space-around;
}

.categoryBtn {
  margin: 5px;
  width: 60px;
  height: 60px;
  border: solid;
  border-radius: 30%;
}

.categoryBtn:hover {
  cursor: pointer;
  background-color: rgb(201, 201, 201);
  box-shadow: 2px 2px 4px 2px rgba(97, 99, 93, 0.8);
}

.iconImg {
  width: 40px;
  height: 40px;
}
